body {
    margin: 0 auto;
    width: 100%;
}

header {
    width: 100%;
    height: 600px;
    background: url("audio-microphone-radio-484.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header p {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 1);
    padding: 0.5em 0 0.5em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    animation-name: topFade;
    animation-duration: 4s;
}

header p span {
    color: rgb(252, 206, 0);
    cursor: pointer;
}

#headerBlock {
    padding-top: 11em;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 2fr;
}

#headerBlock h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    display: grid;
    justify-content: center;
    padding: 1em 0 1em 0;
    color: rgb(252, 206, 0);
    z-index: 0;
    animation-name: headerFade;
    animation-duration: 3s;
}

#facebookIcon {
    animation-name: delay1;
    animation-duration: 3s;
}

#instagramIcon {
    animation-name: delay2;
    animation-duration: 3s;
}

#twitterIcon {
    animation-name: delay3;
    animation-duration: 3s;
}

#itunesIcon {
    animation-name: delay4;
    animation-duration: 3s;
}

#soundcloudIcon {
    animation-name: delay5;
    animation-duration: 3s;
}

#spotifyIcon {
    animation-name: delay6;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.socialIconSize {
    height: 2em;
    width: 2em;
}

.socialIconSize:hover {
    background: rgb(248, 199, 109);
    border-radius: 1em;
}

#stickyNavbar {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    padding: 1em;
    background: rgba(0, 0, 0, 1);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar:hover {
    animation-name: resize;
    font-weight: bold;
    animation-duration: 1s;
    color: rgb(248, 199, 109);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#aboutSection {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: grid;
    justify-items: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Montserrat', sans-serif;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#aboutSection h2 {
    padding-top: 1em;
}

#aboutSection p {
    font-weight: bold;
    padding: 1em;
    margin: 5em;
    overflow: hidden;
}

#myModal2 {
    width: 100%;
}

#contactSection {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: grid;
    justify-items: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Montserrat', sans-serif;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#contact_me {
    display: grid;
    grid-row-gap: 0.2em;
}

#contact_me_class {
    display: grid;
}

#contact_me p {
    text-align: center;
}

form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    width: 100%;
    padding: 1em 0 1em 0;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

#podcasts {
    margin-bottom: 3em;
    display: grid;
    grid-gap: 2em 1em;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
}

.collapsible {
    font-family: 'Montserrat', sans-serif;
    padding: 0 7em 0 7em;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.collapsible:hover {
    font-weight: bold;
    color: rgb(248, 199, 109);
}

.collapsible:after {
    content: url("down-arrow.png");
}

.active:after {
    content: url("up-arrow.png");
}

.content {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-height: 0;
    max-width: 19em;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.close {
    font-size: 2em;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    background: black;
}

footer a {
    display: grid;
    align-self: center;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(248, 199, 109);
}

/* Continue creating the modal class 
to hide and display the about content */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 7.5em 0 0 0;
    left: 0;
    top: 0;
}

@keyframes headerFade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }
    15% {
        opacity: 1;
    }
}

@keyframes delay1 {
    0% {
        opacity: 0.0;
    }
    64% {
        opacity: 0.0;
        transform: translate(0, -15px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes delay2 {
    0% {
        opacity: 0.0;
    }
    67% {
        opacity: 0.0;
        transform: translate(0, -15px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes delay3 {
    0% {
        opacity: 0.0;
    }
    70% {
        opacity: 0.0;
        transform: translate(0, -15px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes delay4 {
    0% {
        opacity: 0.0;
    }
    73% {
        opacity: 0.0;
        transform: translate(0, -15px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes delay5 {
    0% {
        opacity: 0.0;
    }
    76% {
        opacity: 0.0;
        transform: translate(0, -15px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes delay6 {
    0% {
        opacity: 0.0;
    }
    79% {
        opacity: 0.0;
        transform: translate(0, -15px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes resize {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.2);
    }
}

@keyframes topFade {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 750px) {
    #headerBlock h1 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    .collapsible {
        padding: 0 5em 0 5em;
    }
    .content {
        max-width: 14em;
    }

    .podcastTiles {
        display: grid;
        justify-items: center;
    }

    .podcastTiles audio {
        width: 14em;
    }

    footer {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    footer a {
        padding: 0.5em 0 0.5em 0;
    }
}